.container {
  display: flex;
  height: 640px;
  background: #f7f7f7;
}

.column {
  display: inline-block;
  width: 292px;
  height: 640px;
}

.columnTitle {
  color: #383838;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 10px;
}

.columnContent {
  height: 600px;
  overflow: auto;
}

.columnContentActive {
  overflow: auto;
  height: 600px;
  background: #ccecff;
  border: 2px solid #1b9aee;
}

.issue {
  position: relative;
  min-height: 20px;
  padding: 14px 44px;
  background: #ffffff;
  margin: 8px 10px;
}

.issueDragging {
  position: relative;
  min-height: 20px;
  padding: 14px 44px;
  background: #ffffff;
  opacity: 0.9;
  margin: 8px 10px;
}
